html,
body {
  margin: 0;
  padding: 0;
  background-color: bisque;
}

.contain {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: chartreuse;
  align-items: center;
  /* justify-content: center; */
}

.controls {
  margin-left: 0.8%;
  margin-right: 0.8%;
  width: 250px;
  height: 97%;
  background-color: aqua;
}

#canv {
  margin-right: 0.8%;
  width: 750px;
  height: 600px;
}

/* #editor {
  display: flex;
  width: 100vw;
  height: 100vh;
} */
/* #controls {
  background: #aaa;
  padding: 5px;
} */
